.tei-teiHeader, .tei-facsimile {
    display: none;
}

.tei-pb::before, .tei-lb::before {
    content: "\00000a";
    white-space: pre;
}

[rend~=center] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

[rend~=italic] {
    font-style: italic;
}

[rend~=underline] {
    text-decoration: underline;
    text-decoration-skip: ink;
}

[rend~=sup], [type=turnover] {
    position: relative;
    font-size: 75%;
    top: -0.5em;
}

[rend~=sub], [type=turnunder] {
    position: relative;
    font-size: 75%;
    top: 0.5em;
}

[type=turnover]>.tei-lb, [type=turnunder]>.tei-lb {
    display: none;
}

[title]:hover {
    cursor: help;
    background-color: #cd5c5c40 /*indianred+alpha*/;
}

.editorial {
    color: indianred;
}

.tei-del {
    text-decoration: line-through;
}

.tei-choice>.tei-expan, .tei-choice>.tei-reg, .tei-choice>.tei-corr {
    display: none;
}

.tei-title[level=a]::before, .tei-title[level=u]::before {
    content: '\00201c';
}

.tei-title[level=a]::after, .tei-title[level=u]::after {
    content: '\00201d';
}

.tei-title[level=m], .tei-title[level=j], .tei-title[level=s] {
    font-style: italic;
}

.tei-graphic {
    width: 80%;
    object-fit: contain;
    margin: 3em auto 3em 10%;
}
